<div class="form-container">
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input type="text" name="title" class="input" [ngModel]="note.title">
            </div>
        </div>

        <br>

        <div class="field">
            <label class="label">Body</label>
            <div class="control">
                <textarea class="textarea" name="body" [ngModel]="note.body"></textarea>
            </div>
        </div>

        <div class="field">
            <button class="button" type="button" (click)="cancel()">Cancel</button>
            <button class="button is-sucess" type="submit">Save</button>
        </div>
    </form>
</div>
